/.Rhistory
/.RData
/.Rproj.user/
/.r-lib/
/coverage.xml
/coverage-summary.txt
/renv/library/
/renv/staging/
/radte_mcmctree_run_*/
/radte_calibrated_nodes.txt
/radte_calibration_all.tsv
/radte_calibration_used.tsv
/radte_gene_tree.tsv
/radte_gene_tree_input.pdf
/radte_gene_tree_output.nwk
/radte_gene_tree_output.pdf
/radte_run_manifest.tsv
/radte_species_tree.pdf
/radte_species_tree.tsv
